{% extends "base.html" %}

{% block body %}
  
  <div class="container">
    <h1>Welcome</h1>
    <form action="{{url_for('login')}}" id="autforms" method="post">

      <input type="text" name="usrname" placeholder="Username" class="input-field">
      <input type = "password" name = 'paswd' placeholder="Password"  class="input-field">
      <input type = 'submit' value="Login" name="login" class="btn btn-login" onclick="setActionForm('login')">
      <input type = 'button' value="Register" class="btn btn-login" onclick="setActionForm('register')">

    </form>
  </div>
<script>
  function setActionForm(action)
  {
    let form = document.getElementById('autforms')
    if (action === 'login')
    {
      form.action = "{{url_for('login')}}";
      form.method='post';
      form.submit();
    }
    else if(action == 'register')
    {
      form.action = "{{url_for('register')}}";
      form.method='post';
      form.submit();
    }
  }
</script>
{% endblock %}