<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
  </head>

  <body>
      <main class="main-div">
            <div class="welcome-div">
                  <h1>CivicConnect</h1>
                  <img src="/images/placeholder.jpg" alt="placeholder" id="placeholderforlogin">
            </div>

            <div class="login-portal-div">
                <div class="sign-in-div">
                  <h2>Sign In</h2>
                  <hr>
                  <h3>User Name:</h3>
                  <input id="username-login-page" placeholder="Enter your username: " type="alphanumeric" class="inputclass">
                  <h3>Password:</h3>
                  <input id="password-login-page" placeholder="Enter your password:" type="password" class="inputclass">
                  <p></p>
                  <button id="usersigninbtn" class="btnclass"><a href="{{ url_for('home') }}">Sign In</a></button>
                  <p></p>
                  <a href="">Forgot password?</a>
                   <hr>
                  <h3>New User</h3>
                  <button id="userRegBtn" class="btnclass"><a href="{{ url_for('home') }}">Sign Up</a>
                  </button>
                </div>
            </div>
      </main>

      <footer>
        <div class="footer-div">
            <button class="footerbtns"><a href="">About us</a></button>
            <button class="footerbtns"><a href="">Contact us</a></button>
            <button class="footerbtns"><a href="">Help</a></button>
            <button class="footerbtns"><a href="">Privacy Policy</a></button>
        </div>

      </footer>
  </body>

  <script>
     
  </script>
</html>